html {
    font-family: 'Raleway', sans-serif;
}

body {
    transition: all 300ms ease-in-out;
}

.header {
    margin-top: 60px;
}

.header-wrapper {
    max-width: 1128px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: 800;
    font-size: 40px;
}

#theme-switcher {
    font-size: 32px;
    margin-left: 10px;
}

#theme-switcher:hover {
    cursor: pointer;
    color:#91173b;
}

#theme-switcher:active {
    color: #7a1936;
}

.content-wrapper {
    max-width: 1128px;
    margin: auto;
    padding: 0 20px;
}

.banner > p{
    font-size: 18px;
}

.input-div {
    display: flex;
    align-items: center;
}

input {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #737373;
    font-family: 'Raleway', sans-serif;
    width: 300px;
}

button {
    margin-left: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Raleway', sans-serif;
    background-color: #bd2855;
    color: #fff;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

button:hover {
    background-color: #91173b;
    color: #fff;
    cursor: pointer;
}

button:active {
    background-color: #7a1936;
    cursor: pointer;
}

.things-header {
    display: flex;
    align-items: center;
}

.things-wrapper {
    margin-top: 30px;
    display: flex;
}

@media screen and (max-width: 860px) {
    .things-wrapper {
        display: block;
    }
    .things-list, .things-header, .extraction-div {
        width: 100% !important;
    }
    .extraction-div {
        margin-left: 0 !important;
    }
    #things-container {
        max-height: 200px !important;
    }
}

#things-container {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    overflow: auto;
    max-height: 400px;
}

.thing-card {
    border: 1px solid #737373;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}



.things-list, .extraction-div {
    width: 50%;
    margin-bottom: 20px;
}

.extraction-div {
    margin-left: 10px;
}

.result-container {
    margin-top: 23.5px;
    border: 1px solid #737373;
    border-radius: 10px;
    padding: 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result-label {
    text-align: center;
}

.animated-result {
    animation: mymove 700ms;
}

@keyframes mymove {
    50% {font-size: 38px;}
}

/* DARK-MODE */
.dark-mode {
    background-color: #000;
    color: #fff;
}